@model Casgem_Proje.Models.Entities.TblProje
@{
    ViewBag.Title = "UpdateProje";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>


<form method="post">
    @Html.HiddenFor(x => x.ProjeID)
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.ProjeTitle, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.ProjeDescription, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-success">Referans Güncelle</button>
</form>