@model Casgem_Proje.Models.Entities.TblMessage
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}



<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Mesaj Detayları</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="mailbox-read-info">
                <h5>Konu: @Html.DisplayFor(x => x.MessageSubject)</h5><br />
                <h6>
                    Gönderen: @Html.DisplayFor(x => x.NameSurname)
                </h6><br />
                <h6>Mail Adresi:@Html.DisplayFor(x => x.SenderMail)</h6><br />
            </div>

            <div class="mailbox-read-message">
                <p>@Html.DisplayFor(x => x.Content)</p>
            </div>
        </div>
    </div>
</div>
